main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}
/* Homepage */

.banner-top {
  background-image: url(../public/images/banner.jpg);
  width: 100vw;
  height: 60vh;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

/* Rating page */

.rating span {
  margin: 0.1rem;
}
