@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");

body {
  width: 100vw;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
.main-container {
  background-image: linear-gradient(
    to left,
    #e83283,
    #d83f99,
    #c34dab,
    #aa59b8,
    #8f63c0,
    #7d70cb,
    #6a7cd3,
    #5586d8,
    #4698e5,
    #38aaee,
    #32baf6,
    #39cbfb
  );
}

/* Mainpage */
.mainPage-top {
  margin-top: 30rem;
}

.banner-top {
  background-image: url(../public/images/18.gif);
  width: 100vw;
  height: 65%;
  background-repeat: repeat-x;
  /* background-size: 100% 100%; */
  /* width: 100vw;
  height: 1900px; */

  /* background-size: cover; */
  background-position: top;
  position: fixed;
  z-index: -1;
}

/* Rating page */

.rating span {
  margin: 0.1rem;
}
/* Offer component */
.offer-section {
  margin-top: 55px;
}
/* Offer page components - OfferPageDescription */

#offer img {
  height: 520px;
  margin-top: 10px;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
.offer-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.card-group {
  gap: 0;
}
.step-card-first {
  color: rgb(67, 67, 67);
}
.step-card-third {
  color: rgb(67, 67, 67);
  background-color: rgba(255, 242, 204);
  border-radius: 10px;
}
.submit-design-button {
  background-color: rgba(255, 242, 204);
}

/* OrderDesignForm */
.load img {
  width: 60px;
}
@media only screen and (max-width: 992px) {
  #offer img {
    height: 350px;
  }
  .offer-buttons {
    display: grid;
    place-items: center;
    gap: 20px;
  }
  .offer-buttons {
    margin-top: 10px;
  }
}
.banner {
  color: rgb(255, 192, 8);
}
h5.button {
  margin-bottom: 0;
}

/* Reviews */
#testimonials {
  padding: 100px 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 10px;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
.reviews-container {
  margin-top: 55px;
  margin-left: 15%;
  margin-right: 15%;
}
.footer-bg {
  background-image: linear-gradient(
    to left,
    #e83283,
    #d83f99,
    #c34dab,
    #aa59b8,
    #8f63c0,
    #7d70cb,
    #6a7cd3,
    #5586d8,
    #4698e5,
    #38aaee,
    #32baf6,
    #39cbfb
  );
}

.h3-color {
  color: #fff;
  background-color: #e83284;
  font-family: "Barriecito", cursive;
}
.font-logo {
  font-family: "Barriecito", cursive;
}
.bg-size {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='340' height='178' preserveAspectRatio='none' viewBox='0 0 340 178'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='340' height='178' x='0' y='0' fill='rgba(232%2c 50%2c 131%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c33 C 11.4%2c42.4 34.2%2c81 57%2c80 C 79.8%2c79 91.2%2c31.8 114%2c28 C 136.8%2c24.2 148.2%2c63.2 171%2c61 C 193.8%2c58.8 205.2%2c19.4 228%2c17 C 250.8%2c14.6 262.6%2c48.2 285%2c49 C 307.4%2c49.8 329%2c26.6 340%2c21L340 178L0 178z' fill='rgba(125%2c 112%2c 203%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c162 C 8.6%2c150.8 25.8%2c103.4 43%2c106 C 60.2%2c108.6 68.8%2c178.4 86%2c175 C 103.2%2c171.6 111.8%2c96 129%2c89 C 146.2%2c82 154.8%2c131.4 172%2c140 C 189.2%2c148.6 197.8%2c126.8 215%2c132 C 232.2%2c137.2 240.8%2c169.2 258%2c166 C 275.2%2c162.8 284.6%2c116 301%2c116 C 317.4%2c116 332.2%2c156 340%2c166L340 178L0 178z' fill='rgba(195%2c 77%2c 171%2c 0.36)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='340' height='178' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  font-family: "Barriecito", cursive;
  text-shadow: -1px -1px 1px hsla(0, 0%, 5%, 0.105),
    1px 1px 1px hsla(0, 0%, 0%, 0.173);
}
.fontsize {
  font-size: 18px;
}
