body {
  width: 100vw;
}
main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}
.main-container {
  background-image: linear-gradient(
    to left,
    #e83283,
    #d83f99,
    #c34dab,
    #aa59b8,
    #8f63c0,
    #7d70cb,
    #6a7cd3,
    #5586d8,
    #4698e5,
    #38aaee,
    #32baf6,
    #39cbfb
  );
}

/* Mainpage */
.mainPage-top {
  margin-top: 47rem;
}

.banner-top {
  background-image: url(../public/images/banner.jpg);
  width: 100vw;
  height: 60%;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
}

/* Rating page */

.rating span {
  margin: 0.1rem;
}

.offer-section {
  margin-top: 55px;
}

/* Reviews */
#testimonials {
  padding: 100px 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 10px;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image,
.testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
.reviews-container {
  margin-top: 55px;
  margin-left: 15%;
  margin-right: 15%;
}
.footer-bg {
  background-image: linear-gradient(
    to left,
    #e83283,
    #d83f99,
    #c34dab,
    #aa59b8,
    #8f63c0,
    #7d70cb,
    #6a7cd3,
    #5586d8,
    #4698e5,
    #38aaee,
    #32baf6,
    #39cbfb
  );
}
